<div class="p-grid">
  <div class="p-col-12">
    <div class="p-grid">
      <div class="product-name p-sm-col-6">
        {{ product.name }}
      </div>
      <div>
        <p class="product-price p-sm-col-6">${{ product.price }}</p>
      </div>
    </div>
  </div>
  <div class="p-col-12">
    <i class="pi pi-tag product-category-icon"></i
    ><span class="product-category">{{ product.category }}</span>
    <div class="product-list-item">
      <img
        [src]="
          'https://www.primefaces.org/primeng/showcase/assets/showcase/images/demo/product/bamboo-watch.jpg'
        "
        [alt]="product.name"
      />
      <div class="product-list-detail">
        <span
          [class]="
            'product-badge status-' + product.inventoryStatus.toLowerCase()
          "
          >{{ product.inventoryStatus }}</span
        >
        <p>{{ product.stock }}</p>
        <p-button
          icon="pi pi-shopping-cart"
          label="BUILD"
          (click)="onBuild()"
          [disabled]="isProductBuilding"
        ></p-button>
        <p-progressBar [value]="percentageComplete"></p-progressBar>
      </div>
    </div>
  </div>
</div>
