<div class="p-col-12">
  <div class="product-name">
    {{ product.name }}
  </div>
</div>
<div class="p-col-12">
  <i class="pi pi-tag product-category-icon"></i
  ><span class="product-category">{{ product.category }}</span>
  <div class="product-list-item">
    <img [src]="product.imgSrc" [alt]="product.name" />
    <div class="product-list-detail">
      <p class="product-price">${{ product.price }}</p>

      <p-button
        icon="pi pi-shopping-cart"
        label="BUILD"
        (click)="onBuild()"
        [disabled]="isProductBuilding"
      ></p-button>

      <div>
        <p-tag
          *ngIf="product.quantity > 0; else out_of_stock"
          severity="success"
          >Stock: {{ product.quantity }}</p-tag
        >

        <ng-template #out_of_stock>
          <p-tag severity="danger">OUT OF STOCK</p-tag>
        </ng-template>
      </div>

      <p-progressBar
        class="p-as-center"
        [value]="percentageComplete"
      ></p-progressBar>
    </div>
  </div>
</div>
